/* 复写组件布局样式 不显示滚动条 */
.ant-layout-content {
  overflow: hidden !important;
}

/* 页面组件 不显示滚动条 */
.vh-content {
  overflow: hidden;
}

/* 数据操作按钮 */
.vh-body .table-operations {
  margin-bottom: 10px;
}
.vh-body .table-operations Button {
  margin-right: 8px;
}

/* 数据展示 */
.vh-body .main-section{
  overflow: auto;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
